<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="도전하고 싶으신가요? 피버타임과 함께하세요 !!">

    <!-- title -->
    <title>피버타임</title>

    <!-- bootstrap css-->
    {% include "include/header-css.html" %}
</head>
<body>
<!--PreLoader start -->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader end-->

<!-- error section -->
<div class="full-height-section error-section">
    <div class="full-height-tablecell">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="error-text">
                        <i class="far fa-sad-cry"></i>
                        <h1>Oops! Not Found.</h1>
                        <p>The page you requested for is not found.</p>
                        <a href="{{ '/' }}" class="boxed-btn">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end error section -->

<!-- bootstrap js start -->
{% include 'include/footer-js.html' %}
<!-- bootstrap js end -->
</body>
</html>