<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>Challenge Create</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/all.min.css') }}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <!-- owl carousel -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.css') }}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.css') }}">
    <!-- animate css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}">
    <!-- mean menu css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/meanmenu.min.css') }}">
    <!-- main style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
    <!-- responsive -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css') }}">

    <style>
        #create-form-container {
            padding-top: 20px;
        }

        #create-btn-container {
            display: flex;
            justify-content: right;
        }

        #create-cancel-btn {
            margin-left: 20px;
        }

        .create-form input {
            height: 40px;
        }

        .create-form .input-group-text {
            width: 120px
        }
    </style>

    <script>
        function onClickCancelBtnHandler() {
            location.href = "/";
        }

        function onChangeAddressRadio() {
            if ($("#address-container").css("display") == "block") {
                $("#address-container").hide();
            } else {
                $("#address-container").show();
            }
            $("#sample5_address").val("");
            $("#map").hide();
        }
    </script>
</head>

<body>

<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="{{ '/' }}">
                            <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="">
                        </a>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li>
                                <div class="header-icons">
                                    <a class="shopping-cart" href="{{ '/user' }}"><i class="fas fa-user"></i></a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="{{ '/user' }}"><i class="fas fa-user"></i></a>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>지구평화도 한걸음 부터</p>
                    <h1>어벤져스!</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->


<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img src="{{ url_for('static', filename='assets/img/default/challenge.jfif') }}" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>새로운 챌린지 만들기</h3>

                    <div id="create-form-container">
                        <div class="input-group mb-3 create-form">
                            <span for="file" class="input-group-text">챌린지 이미지</span>
                            <input class="form-control" type="file" id="file">
                        </div>

                        <div class="input-group mb-3 create-form">
                            <span for="title" class="input-group-text">챌린지 이름</span>
                            <input class="form-control" type="text" id="title">
                        </div>

                        <div class="input-group mb-3 create-form">
                            <span for="desc" class="input-group-text">상세 내용</span>
                            <input class="form-control" type="text" id="desc">
                        </div>

                        <div class="input-group mb-3 create-form">
                            <span class="input-group-text">진행 기간</span>
                            <input class="form-control" type="date" id="start-period">
                            <input class="form-control" type="date" id="end-period">
                        </div>

                        <input type="hidden" id="address">

                        <div class="form-check">
                            <input class="form-check-input" name="addType" type="radio" id="online"
                                   checked onchange="onChangeAddressRadio()">
                            <label class="form-check-label" for="online">
                                온라인
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" name="addType" type="radio" id="offline"
                                   onchange="onChangeAddressRadio()">
                            <label class="form-check-label" for="offline">
                                오프라인
                            </label>
                        </div>

                        <div id="address-container" style="display: none">
                            <input type="text" id="sample5_address" placeholder="주소">
                            <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
                            <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>
                        </div>

                        <div id="create-btn-container">
                            <button type="button" class="btn btn-primary btn-lg">챌린지 등록</button>
                            <button type="button" id="create-cancel-btn" onclick="onClickCancelBtnHandler()"
                                    class="btn btn-secondary btn-lg">등록
                                취소
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>, All Rights
                    Reserved.</p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <!-- <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end copyright -->

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7004ea44101be7c75067b28e563db611&libraries=services"></script>
<script>
    let mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    //지도를 미리 생성
    let map = new daum.maps.Map(mapContainer, mapOption);
    //주소-좌표 변환 객체를 생성
    let geocoder = new daum.maps.services.Geocoder();
    //마커를 미리 생성
    let marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.537187, 127.005476),
        map: map
    });


    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                let addr = data.address; // 최종 주소 변수

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("sample5_address").value = addr;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function (results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        let result = results[0]; //첫번째 결과의 값을 활용

                        // 해당 주소에 대한 좌표를 받아서
                        let coords = new daum.maps.LatLng(result.y, result.x);
                        // 지도를 보여준다.
                        mapContainer.style.display = "block";
                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords)
                    }
                });
            }
        }).open();
    }
</script>

<!-- jquery -->
<script src="{{ url_for('static', filename='assets/js/jquery-1.11.3.min.js') }}"></script>
<!-- bootstrap -->
<script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- count down -->
<script src="{{ url_for('static', filename='assets/js/jquery.countdown.js') }}"></script>
<!-- isotope -->
<script src="{{ url_for('static', filename='assets/js/jquery.isotope-3.0.6.min.js') }}"></script>
<!-- waypoints -->
<script src="{{ url_for('static', filename='assets/js/waypoints.js') }}"></script>
<!-- owl carousel -->
<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
<!-- magnific popup -->
<script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
<!-- mean menu -->
<script src="{{ url_for('static', filename='assets/js/jquery.meanmenu.min.js') }}"></script>
<!-- sticker js -->
<script src="{{ url_for('static', filename='assets/js/sticker.js') }}"></script>
<!-- main js -->
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>