<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta -->
    {% include "include/header-meta.html" %}

    <!-- title -->
    <title>피버타임</title>

    <!-- bootstrap css-->
    {% include "include/header-css.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <!-- jquery -->
    <script src="{{ url_for('static', filename='assets/js/jquery-1.11.3.min.js') }}"></script>

    <style>
        #add-btn {
            background-color: white;
            border: solid #F28123;
            color: #F28123;
        }

        #add-btn:hover {
            background-color: #F28123;
            border: solid white;
            color: white;
        }

        .product-image img {
            width: 250px;
            height: 200px;
        }

        a.btnp {
            background-color: #4e555b;
        }
    </style>
    <script>
        $(document).ready(function ($) {
            bsCustomFileInput.init()
        });

        function onClickCreateChallenge() {
            if (document.cookie.match("fever-time") != null) {
                window.location.href = "/challenge"
            } else {
                alert("로그인 후 생성해주세요 !!")
                window.location.href = '/login';
            }
        }
    </script>
</head>
<body>
<!--PreLoader start -->
{% include 'include/preloader.html' %}
<!--PreLoader end-->

<!-- header start -->
{% include 'include/body-header.html' %}
<!-- header end -->

<!-- search area start-->
{% include 'include/search.html' %}
<!-- search area end -->

<!-- breadcrumb-section start -->
{% include 'include/breadcrumb-section.html' %}
<!-- breadcrumb section end -->

<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container" style="text-align: center">
        {% if challenges ==[] %}
            <img src="{{ url_for("static", filename="assets/img/error.svg") }}" width="300" height="300">
            <h4 style="margin-top: 30px">챌린지가 없습니다😥</h4>
        {% else %}

            <div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".category1">운동</li>
                            <li data-filter=".category2">공부</li>
                            <li data-filter=".category3">취미</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row product-lists">
                {% for challenge in challenges %}
                    <div class="col-lg-4 col-md-6 text-center {{ challenge.challenge_categories|join(" ") }}">
                        <div class="single-product-item">
                            <div class="product-image">
                                <a href="{{ '/challenge/'+challenge._id }}">
                                    <img src="{{ 'https://dybzsbdm9g4zq.cloudfront.net/'+challenge.challenge_img }}"
                                         alt="">
                                </a>
                            </div>
                            <h3>{{ challenge.challenge_title }}</h3>
                            {% if challenge.challenge_status==2 %}
                                <p class="product-price">
                                <span>
                                    <i class="far fa-calendar-alt"></i> 종료된 챌린지
                                </span>
                                    {{ challenge.people }} / {{ challenge.challenge_max }}명
                                </p>
                                <a href="{{ '/challenge/'+challenge._id }}" class="cart-btn btnp">
                                    <i class="fas fa-bolt"></i> View Details
                                </a>
                            {% elif challenge.challenge_status==1 %}
                                <p class="product-price">
                                <span>
                                    <i class="far fa-calendar-alt"></i> 중단된 챌린지
                                </span>
                                    {{ challenge.people }} / {{ challenge.challenge_max }}명
                                </p>
                                <a href="{{ '/challenge/'+challenge._id }}" class="cart-btn btnp">
                                    <i class="fas fa-bolt"></i> View Details
                                </a>
                            {% elif (challenge.people==challenge.challenge_max) and (status_join==False) %}
                                <p class="product-price">
                                <span>
                                    <i class="far fa-calendar-alt"></i>{{ challenge.challenge_startTime +' ~ '+challenge.challenge_endTime }}
                                </span>
                                    {{ challenge.people }} / {{ challenge.challenge_max }}명
                                </p>
                                <a href="{{ '/challenge/'+challenge._id }}" class="cart-btn btnp">
                                    <i class="fas fa-bolt"></i> 모집 종료
                                </a>
                            {% else %}
                                <p class="product-price">
                                <span>
                                    <i class="far fa-calendar-alt"></i> {{ challenge.challenge_startTime +' ~ '+challenge.challenge_endTime }}
                                </span>
                                    {{ challenge.people }} / {{ challenge.challenge_max }}명
                                </p>
                                <a href="{{ '/challenge/'+challenge._id }}" class="cart-btn">
                                    <i class="fas fa-bolt"></i> View Details
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {# 페이지 이동 주석#}
            {#        <div class="row">#}
            {#            <div class="col-lg-12 text-center">#}
            {#                <div class="pagination-wrap">#}
            {#                    <ul>#}
            {#                        <li><a href="#">Prev</a></li>#}
            {#                        <li><a href="#">1</a></li>#}
            {#                        <li><a class="active" href="#">2</a></li>#}
            {#                        <li><a href="#">3</a></li>#}
            {#                        <li><a href="#">Next</a></li>#}
            {#                    </ul>#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
        {% endif %}

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="pagination-wrap">
                    <a id="add-btn" class="cart-btn" onclick="onClickCreateChallenge()">
                        <i class="fas fa-plus"></i> Add new Challenge
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->

<!-- copyright start -->
{% include 'include/copyright.html' %}
<!-- copyright end -->

<!-- bootstrap js start -->
{% include 'include/footer-js.html' %}
<!-- bootstrap js end -->
</body>
</html>