<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>스파르타코딩클럽 | 부트스트랩 연습하기</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Gamja Flower', cursive;
        }

        .posting {
            width: 520px;
            margin-top: 20px;
        }

        .wrap {
            width: 900px;
            margin: auto;;
        }

        .container {
            padding-left: 50px;
        }

        .custom-file {
            margin-bottom: 15px;
        }
        .period {
            width: 250px;
            margin-bottom: 15px;
        }

    </style>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
            showArticles();
        });

        function showArticles() {
            $.ajax({
                type: "GET",
                url: "/challenge",
                data: {},
                success: function (response) {
                    let challenges = response['all_challenges']
                    for (let i = 0; i < challenges.length; i++) {
                        let image = challenges[i]['challenge_img']
                        let title = challenges[i]['challenge_title']
                        let period = challenges[i]['challenge_period']
                        let desc = challenges[i]['challenge_desc']
                        let host = challenges[i]['challenge_host']

                        let temp_html = `<div class="card">
                                                <img src="../static/${image}" class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-text">${host}</p>
                                                    <a target="_blank" href="" class="card-title" style="font-size: 30px">${title}</a>
                                                    <p class="card-text">${desc}</p>
                                                    <p class="card-text comment">${period}</p>
                                                </div>
                                            </div>`
                        $('#cards-box').append(temp_html)
                    }

                }
            })
        }

        function posting() {
            let title = $('#title').val()
            let decs = $("#desc").val()
            let period = [document.querySelector('#period1').value,document.querySelector('#period2').value]
            let image = $('#image')[0].files[0]
            console.log(period)

             let form_data = new FormData()

            form_data.append("image_give", image)
            form_data.append("title_give", title)
            form_data.append("desc_give", decs)
            form_data.append("period_give", period)
            console.log(form_data)


             $.ajax({
                    type: "POST",
                    url: "/challenge",
                    data: form_data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) { // 성공하면
                        alert(response["msg"]);
                        window.location.reload()
                    }
                })
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
</head>

<body>
<div class="wrap">
    <div class="jumbotron jumbotron-fluid">
        <div class="container" id="container">
            <h1>나홀로 일기장</h1>
            <div class="posting">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="image">
                        <label class="custom-file-label" for="image">사진 선택하기</label>
                    </div>
                    <input type="email" class="form-control" id="title" aria-describedby="emailHelp"
                           placeholder="제목">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="desc" rows="3" placeholder="내용 입력"></textarea>
                </div>
                <div id="period">
                    <input type="date" class="period" id="period1" aria-describedby="emailHelp"> ~
                    <input type="date" class="period" id="period2" aria-describedby="emailHelp">

                </div>
                <button type="button" class="btn btn-info" onclick="posting()">저장하기</button>
            </div>
        </div>
    </div>
    <div class="card-columns" id="cards-box">


    </div>
</div>


</body>

</html>