<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <!-- jquery -->
    <script src="{{ url_for('static', filename='assets/js/jquery-1.11.3.min.js') }}"></script>

    <!-- title -->
    <title>Main</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/all.min.css') }}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <!-- owl carousel -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.css') }}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.css') }}">
    <!-- animate css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}">
    <!-- mean menu css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/meanmenu.min.css') }}">
    <!-- main style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
    <!-- responsive -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css') }}">

    <style>
        #add-btn {
            background-color: white;
            border: solid #F28123;
            color: #F28123;
        }

        #add-btn:hover {
            background-color: #F28123;
            border: solid white;
            color: white;
        }

        .product-image img {
            width: 250px;
            height: 200px;
        }
    </style>
    <script>
        $(document).ready(function ($) {
            bsCustomFileInput.init()
            showChallenge();
        });

        function showChallenge() {
            $.ajax({
                type: "GET",
                url: "/cc",
                data: {},
                success: function (response) {

                    let challenges = JSON.parse(response['all_challenges'])
                    console.log(challenges)
                    for (let i = 0; i < challenges.length; i++) {
                        let image = challenges[i]['challenge_img']
                        let title = challenges[i]['challenge_title']
                        let startTime = challenges[i]['challenge_startTime']
                        let endTime = challenges[i]['challenge_endTime']
                        let desc = challenges[i]['challenge_desc']
                        let host = challenges[i]['challenge_host']
                        let challengeId = challenges[i]['_id']['$oid']

                        console.log(challengeId)


                        let temp_html = `<div class="col-lg-4 col-md-6 text-center strawberry">
                                <div class="single-product-item">
                                    <div class="product-image">
                                        <a href="{{ '/challenge' }}"><img
                                                src="/static/assets/img/${image}" alt=""></a>
                                    </div>
                                    <h3>${title}</h3>
                                    <p class="product-price"><span><i class="far fa-calendar-alt"></i> ${startTime} ~ ${endTime}</span>
                                        80명 참가 </p>
                                    <a href="/challenge/${challengeId}" class="cart-btn"><i class="fas fa-bolt"></i> Go to Challenge</a>
                                </div>
                            </div>`
                        $('#product-lists').append(temp_html)
                    }

                }
            })
        }
    </script>

</head>

<body>

<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="{{ '/' }}">
                            <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="">
                        </a>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li>
                                <div class="header-icons">
                                    <a class="mobile-hide search-bar-icon" href="#"><i
                                            class="fas fa-search"></i></a>
                                    <a class="shopping-cart" href="{{ '/user' }}"><i class="fas fa-user"></i></a>
                                </div>
                            </li>
                        </ul>
                    </nav>

                    <div class="nav-mobile-show-container">
                        <a class="mobile-show search-bar-icon" style="right: 100px;" href="#"><i
                                class="fas fa-search"></i></a>
                        <a class="mobile-show search-bar-icon" href="{{ '/user' }}"><i class="fas fa-user"></i></a>
                    </div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>지구평화도 한걸음 부터</p>
                    <h1>어벤져스!</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".strawberry">공부</li>
                        <li data-filter=".berry">운동</li>
                        <li data-filter=".lemon">취미</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row product-lists">
            {% for challenge in challenges %}
                <div class="col-lg-4 col-md-6 text-center strawberry">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="{{ '/challenge/'+challenge._id }}"><img
                                    src="{{ url_for('static', filename='assets/img/'+challenge.challenge_img) }}"
                                    alt=""></a>
                        </div>
                        <h3>{{ challenge.challenge_title }}</h3>
                        <p class="product-price">
                            <span>
                                <i class="far fa-calendar-alt"></i> {{ challenge.challenge_startTime +' ~ '+challenge.challenge_startTime }}
                            </span>
                            85명 참가
                        </p>
                        <a href="{{ '/challenge/'+challenge._id }}" class="cart-btn">
                            <i class="fas fa-bolt"></i> Go to Challenge
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a class="active" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="pagination-wrap">
                    <a href="{{ '/challenge/create' }}" id="add-btn" class="cart-btn">
                        <i class="fas fa-plus"></i> Add new Challenge
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>
                    Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>, All Rights Reserved.
                </p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <!-- <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end copyright -->

<!-- jquery -->
<script src="{{ url_for('static', filename='assets/js/jquery-1.11.3.min.js') }}"></script>
<!-- bootstrap -->
<script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- count down -->
<script src="{{ url_for('static', filename='assets/js/jquery.countdown.js') }}"></script>
<!-- isotope -->
<script src="{{ url_for('static', filename='assets/js/jquery.isotope-3.0.6.min.js') }}"></script>
<!-- waypoints -->
<script src="{{ url_for('static', filename='assets/js/waypoints.js') }}"></script>
<!-- owl carousel -->
<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
<!-- magnific popup -->
<script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
<!-- mean menu -->
<script src="{{ url_for('static', filename='assets/js/jquery.meanmenu.min.js') }}"></script>
<!-- sticker js -->
<script src="{{ url_for('static', filename='assets/js/sticker.js') }}"></script>
<!-- main js -->
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>